<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>initializeServlet</servlet-name>
    <servlet-class>servlet.initializeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>initializeServlet</servlet-name>
    <url-pattern>/initialize</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>demandServlet</servlet-name>
    <servlet-class>servlet.demandServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>demandServlet</servlet-name>
    <url-pattern>/demand</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newProductServlet</servlet-name>
    <servlet-class>servlet.newProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>newProductServlet</servlet-name>
    <url-pattern>/newproduct</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>purchaseServlet</servlet-name>
    <servlet-class>servlet.purchaseServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>purchaseServlet</servlet-name>
    <url-pattern>/purchase</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>salesReportServlet</servlet-name>
    <servlet-class>servlet.salesReportServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>salesReportServlet</servlet-name>
    <url-pattern>/salesreport</url-pattern>
  </servlet-mapping>



</web-app>
